<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cristian.pam1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dfn_apple"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/dfn_apple_round"
        android:supportsRtl="true"
        android:theme="@style/my_senapi">
        <activity android:name=".ui.view.FragmentHolderActivity" />
        <activity
            android:name=".ui.view.Welcome"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>